@font-face {
  font-family: "reey";
  src: url("../fonts/reey/reey-regular-webfont.woff2") format("woff2"), url("../fonts/reey/reey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fulbo";
  src: url("../fonts/fulbo/fulbo-premier-webfont.woff2") format("woff2"), url("../fonts/fulbo/fulbo-premier-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "grandhotel";
  src: url("../fonts/grandhotel/grandhotel-regular-webfont.woff2") format("woff2"), url("../fonts/grandhotel/grandhotel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header_logo img {
  width: 100px;
  height: 40px;
}

@media (max-width: 435px) {
  .navbar {
    justify-content: center;
  }
}
@media all and (max-width: 490px) {
  .navbar #header_nav a {
    font-size: 11px;
  }
}
.navbar #header_nav a:hover {
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

#page {
  background-color: #23232B;
}

.gallery {
  background: #23232B;
}
.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #040504;
  counter-increment: gallery-cell;
}
.gallery-cell img {
  width: 100%;
  object-fit: cover;
}
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
@media (max-width: 1500px) {
  .gallery-cell {
    height: 450px;
  }
}
@media (max-width: 1300px) {
  .gallery-cell {
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .gallery-cell {
    height: 350px;
  }
}
@media (max-width: 1000px) {
  .gallery-cell {
    height: 300px;
  }
}
@media (max-width: 900px) {
  .gallery-cell {
    height: 250px;
  }
}
@media (max-width: 800px) {
  .gallery-cell {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .gallery-cell {
    height: 150px;
  }
}

.carousel {
  background: #23232B;
}
.carousel-cell {
  height: 20em;
  width: 23em;
  margin-right: 10px;
  background: #7171d7;
  border-radius: 5px;
  justify-content: center;
}
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: #23232B;
}
.carousel-cell img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 0 0 81px;
  border: 5px outset white;
}
.carousel-cell h4 {
  font-weight: bolder;
  color: #ffffff;
}
.carousel-cell p {
  color: #ac0d0d;
  font-weight: bolder;
  width: 100%;
  height: 35px;
  background-color: white;
}

@media (max-width: 465px) {
  #bouton_front a {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  #bouton_front a {
    font-size: 10px;
  }
}
#bouton_front a:hover {
  box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.25);
}
#bouton_front a, #bouton_front p {
  font-family: "fulbo";
}

#savoir_plus svg {
  display: flex;
  justify-content: center;
}
#savoir_plus p {
  font-family: "fulbo";
}
@media (max-width: 420px) {
  #savoir_plus p {
    font-size: 12px;
  }
}
#savoir_plus p:hover, #savoir_plus a:hover {
  text-decoration: none;
  color: #2fb6b6;
  text-shadow: 3px 2px 2px #0a0808;
}

#votre_vie > .h1 {
  color: white;
  font-family: "grandhotel";
  font-size: 80px;
}
@media (max-width: 510px) {
  #votre_vie > .h1 {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  #votre_vie > .h1 {
    font-size: 45px;
  }
}
#votre_vie > #btn-votre_vie p {
  font-family: "fulbo";
  position: absolute;
  margin: -50px 0 0 0;
}
#votre_vie .btn-info:hover {
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.42);
}

#page > .first_sepa_background {
  height: 200px;
  background-image: url(../img/background_accueil.jpg);
  background-attachment: fixed;
}
#page > .second-sepa-background {
  height: 200px;
  background-image: url(../img/background_accueil.jpg);
  background-attachment: fixed;
}

#notre-discord > .h1 {
  color: white;
  font-family: "grandhotel";
  font-size: 80px;
}
@media (max-width: 510px) {
  #notre-discord > .h1 {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  #notre-discord > .h1 {
    font-size: 45px;
  }
}
#notre-discord .contn-discord > .discord-text {
  text-align: justify;
  color: white;
}
#notre-discord .contn-discord > .discord-img img {
  object-fit: contain;
}
@media (max-width: 575px) {
  #notre-discord .contn-discord > .discord-img img {
    margin: auto;
  }
}
#notre-discord .discord-text > p > .first-span {
  font-size: 30px;
  font-weight: bolder;
  color: #b1484b;
}
#notre-discord .discord-text > p > .other-span {
  font-weight: bolder;
}

#notre-equipe > .h1 {
  color: white;
  font-family: "grandhotel";
  font-size: 80px;
  margin-bottom: 1em;
}
@media (max-width: 510px) {
  #notre-equipe > .h1 {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  #notre-equipe > .h1 {
    font-size: 45px;
  }
}

footer {
  background-color: #17171c;
}
footer p, footer a {
  color: #3d3d3d;
  font-family: "fulbo";
}

/*# sourceMappingURL=style.css.map */
