@font-face {
  font-family: 'reey';
  src: url('../fonts/reey/reey-regular-webfont.woff2') format('woff2'),
  url('../fonts/reey/reey-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fulbo';
  src: url('../fonts/fulbo/fulbo-premier-webfont.woff2') format('woff2'),
  url('../fonts/fulbo/fulbo-premier-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'grandhotel';
  src: url('../fonts/grandhotel/grandhotel-regular-webfont.woff2') format('woff2'),
  url('../fonts/grandhotel/grandhotel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}