@import '../scss/fonts.scss';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#header_logo img{
  width: 100px;
  height: 40px;
}

.navbar {
  @media (max-width: 435px){
    justify-content: center;
  }
  & #header_nav {
    & a {
      @media all and (max-width: 490px) {
        font-size: 11px;
      }
    }
    & a:hover {
      box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
    }
  }
}

#page {
  background-color: #23232B;
}

.gallery {
  background: #23232B;
    &-cell {
      width: 66%;
      height: 500px;
      margin-right: 10px;
      background: #040504;
      counter-increment: gallery-cell;

      & img {
        width: 100%;
        object-fit: cover;
      }

      &:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: white;
      }

      @media (max-width: 1500px) {
        height: 450px;
      }
      @media (max-width: 1300px) {
        height: 400px;
      }
      @media (max-width: 1200px) {
        height: 350px;
      }
      @media (max-width: 1000px) {
        height: 300px;
      }
      @media (max-width: 900px) {
        height: 250px;
      }
      @media (max-width: 800px) {
        height: 200px;
      }
      @media (max-width: 600px) {
        height: 150px;
      }
    }
}

.carousel {
  background: #23232B;
    &-cell {
      height: 20em;
      width: 23em;
      margin-right: 10px;
      background: #7171d7;
      border-radius: 5px;
      justify-content: center;

      &:before {
        display: block;
        text-align: center;
        line-height: 200px;
        font-size: 80px;
        color: #23232B;
      }

      & img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 0 0 81px;
        border: 5px outset rgb(255, 255, 255);
      }

      & h4 {
        font-weight: bolder;
        color: #ffffff;
      }

      & p {
        color: #ac0d0d;
        font-weight: bolder;
        width: 100%;
        height: 35px;
        background-color: white;
      }
    }
}

#bouton_front{
  & a {
    @media (max-width: 465px) {
      font-size: 12px;
    }
    @media (max-width: 400px) {
      font-size: 10px;
    }
  }
  & a:hover {
    box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.25);
  }
  & a, p {
    font-family: "fulbo";
  }
}

#savoir_plus {
  & svg {
    display: flex;
    justify-content: center;
  }
  & p {
    font-family: 'fulbo';
    @media (max-width: 420px) {
      font-size: 12px;
    }
  }
  & p:hover, a:hover {
    text-decoration: none;
    color: #2fb6b6;
    text-shadow: 3px 2px 2px #0a0808;
  }
}

#votre_vie{
    &  > .h1 {
      color: white;
      font-family: "grandhotel";
      font-size: 80px;
        @media (max-width: 510px) {
          font-size: 60px;
        }
        @media (max-width: 400px) {
          font-size: 45px;
        }
    }
    & > #btn-votre_vie p {
      font-family: "fulbo";
      position: absolute;
      margin: -50px 0 0 0;
    }
    & .btn-info:hover {
      box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.42);
    }
}

#page {
    & > .first_sepa_background {
      height: 200px;
      background-image: url(../img/background_accueil.jpg);
      background-attachment: fixed;
    }

    & > .second-sepa-background {
      height: 200px;
      background-image: url(../img/background_accueil.jpg);
      background-attachment: fixed;
    }
}

#notre-discord {
    & > .h1 {
      color: white;
      font-family: "grandhotel";
      font-size: 80px;
      @media (max-width: 510px) {
        font-size: 60px;
      }
      @media (max-width: 400px) {
        font-size: 45px;
      }
    }

    & .contn-discord > .discord-text {
      text-align: justify;
      color: white
    }

    & .contn-discord > .discord-img img {
      object-fit: contain;
      @media(max-width: 575px) {
        margin: auto;
      }
    }

    & .discord-text > p > .first-span {
      font-size: 30px;
      font-weight: bolder;
      color: #b1484b;
    }

    & .discord-text > p > .other-span {
      font-weight: bolder;
    }
}

#notre-equipe {
    & > .h1 {
      color: white;
      font-family: "grandhotel";
      font-size: 80px;
      margin-bottom: 1em;
      @media (max-width: 510px) {
        font-size: 60px;
      }
      @media (max-width: 400px) {
        font-size: 45px;
      }
    }
}

footer {
  background-color: #17171c;

  & p , a {
    color: #3d3d3d;
    font-family: "fulbo";
  }
}
