@font-face {
  font-family: "reey";
  src: url("../../fonts/reey/reey-regular-webfont.woff2") format("woff2"), url("../../fonts/reey/reey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fulbo";
  src: url("../../fonts/fulbo/fulbo-premier-webfont.woff2") format("woff2"), url("../../fonts/fulbo/fulbo-premier-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "grandhotel";
  src: url("../../fonts/grandhotel/grandhotel-regular-webfont.woff2") format("woff2"), url("../../fonts/grandhotel/grandhotel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 435px) {
  .navbar {
    justify-content: center;
  }
}
.navbar #header_logo img {
  width: 100px;
  height: 40px;
}
@media all and (max-width: 490px) {
  .navbar #header_nav a {
    font-size: 11px;
  }
}
.navbar #header_nav a:hover {
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

#page_total {
  background-color: #23232B;
  height: 100%;
  width: 100%;
}
#page_total .h2_descript {
  font-family: "fulbo";
  text-align: center;
  color: white;
}
#page_total .title_civil_part {
  font-size: 75px;
  text-align: center;
  color: white;
  font-family: "grandhotel";
}
#page_total > div > .legal_part h2, #page_total > div > .illegal_part h2 {
  font-family: "fulbo";
  color: white;
  text-align: center;
}
#page_total > div > .legal_part h3 {
  color: #3aabcd;
  font-family: "fulbo";
}
@media (max-width: 730px) {
  #page_total > div > .legal_part h3 {
    font-size: 18px;
  }
}
#page_total > div > .civil_part-sepa > div {
  width: 2px;
  height: 100%;
  background: white;
}
#page_total > div > .illegal_part h3 {
  color: #cd3a3a;
  font-family: "fulbo";
}
@media (max-width: 730px) {
  #page_total > div > .illegal_part h3 {
    font-size: 18px;
  }
}
#page_total > div > .legal_part p, #page_total > div > .illegal_part p {
  color: white;
}
@media (max-width: 550px) {
  #page_total > div > .legal_part p, #page_total > div > .illegal_part p {
    font-size: 13px;
  }
}
#page_total .title_blufor_part {
  font-size: 75px;
  text-align: center;
  color: white;
  font-family: "grandhotel";
}
#page_total > .sheriff_part > h3 {
  color: white;
  text-align: center;
  font-family: "fulbo";
}
#page_total > .sheriff_part > h3 > span {
  color: #3aabcd;
}
#page_total > .sheriff_part > p {
  color: white;
  text-align: center;
}
#page_total > .sert_part > h3 {
  color: white;
  text-align: center;
  font-family: "fulbo";
}
#page_total > .sert_part > h3 > span {
  color: #cd3a3a;
}
#page_total > .sert_part > p {
  color: white;
  text-align: center;
}
#page_total .title_pompier_part {
  font-size: 75px;
  text-align: center;
  color: white;
  font-family: "grandhotel";
}
#page_total > .pompier_part > h3 {
  color: white;
  text-align: center;
  font-family: "fulbo";
}
#page_total > .pompier_part > h3 > span {
  color: #cd3a3a;
}
#page_total > .pompier_part > p {
  color: white;
  text-align: center;
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  height: 2px;
}

#en-tete > #h1_custom {
  color: white;
  text-align: center;
  font-family: "fulbo";
}
@media (max-width: 400px) {
  #en-tete > #h1_custom {
    font-size: 20px;
  }
}
#en-tete > #h1_custom > #span-al {
  font-size: 100px;
  color: #1f2c99;
}
@media (max-width: 400px) {
  #en-tete > #h1_custom > #span-al {
    font-size: 60px;
  }
}
#en-tete > #h1_custom > #span-tis {
  font-size: 100px;
  color: #ffffff;
}
@media (max-width: 400px) {
  #en-tete > #h1_custom > #span-tis {
    font-size: 60px;
  }
}
#en-tete > #h1_custom > #span-fr {
  font-size: 100px;
  color: #9a4a4a;
}
@media (max-width: 400px) {
  #en-tete > #h1_custom > #span-fr {
    font-size: 60px;
  }
}

footer {
  background-color: #17171c;
}
footer p, footer a {
  color: #3d3d3d;
  font-family: "fulbo";
}

/*# sourceMappingURL=sp-vie-style.css.map */
